<!doctype html>
<html>
<head>
    <title>usb device list</title>
</head>
<body>
    <h1>usb device list</h1>
    <% device.forEach(function(value, key)) { %>
    <p><%= key %>:<%= value  %></p>
    <% }); %>
</body>
</html>
