<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>push result</title>
</head>
<body>
    <h1>push result</h1>
    <p>Push Key v1 result:<%= execresult1 %></p>
    <p>Push Key v2 result:<%= execresult2 %></p>
</body>
</html>
